/*
STYLE GUIDE STYLING 
Default styling for the style guide 
*/
@font-face {
  font-family: 'body-font'; 
  src: url('../assets/Comfortaa-Light.ttf'); 
}
:root {
  --color-main-red: rgb(152, 27, 27);
  --color-bg-cream: rgb(255, 254, 237);
  --color-text-brown: rgb(101, 51, 20);
  --color-sec-rose: rgb(195, 153, 142);
  
}
*{
  box-sizing: border-box;
}
body {
  /*change font to -futura*/
  font-family: 'body-font', sans-serif;
  padding-bottom: 2rem;
}

.element {
  /*adding margins between section*/
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem; 
  padding-top: 2rem;
  margin: 0;
}

h2 {
  margin-top: 1rem;
  font-size: 1.2rem;
}

h3 {
  color:white;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background: #767676;
  padding: 0.5rem;
}
h3.no-bg-color{
  background-color: transparent;
  padding:0;
  margin:0;
}
h4 {
  border-left: 0.5rem solid #FF5722; 
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin-top: 0;
  max-width: 40rem;
}

a {
  color:#767676;
  text-underline-offset: 0.3rem;
  transition: all 0.4s ease;
}

/*nav styling*/
nav {
  background: #d4dbdd; 
  width:100%;
  flex-wrap: wrap;
}
nav ul {
  color:white;
  display: flex; 
  flex-wrap: wrap;
  /*evenly spread content*/
  justify-content: space-around; 
  /*no bulllet poins*/
  list-style: none; 
  /*box size*/
  padding: 1rem;
  gap:1rem;
}
nav a {
  color: #767676;
  white-space: nowrap;  
}

nav a:hover, 
nav a:focus {
  text-decoration: red;
  color: red;
}
/*change hover/focus color for links*/
a:hover, 
a:focus {
  color: #FF5722;
  text-decoration-thickness: 0.2rem;
  
}

/*change hover/focus effect (red underline) for image as a link*/
.image-element a:hover,
.image-element a:focus{
  border-bottom:solid;
  color: red;
}

code {
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

/* allow further control of the styling*/
.form-name {
  
  margin-top:1rem;
  
}
/******lable style Kimi *******/
.primary-label {
  font-size: 0.9rem;
  font-weight: 600;
}
.text-input-field {
  padding: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease;
}
.text-input-field:hover,.text-input-field:focus {
  outline: none;
  border-color: var(--color-main-red);
}
.date-input-field{
  padding: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  font-size: 1rem;
}
/******lable style Zilin *******/
label {
  font-family: Helvetica;
  font-size: 1rem;
  color:black;
  
}
/*redy the transition effet for input:hover*/
input{
  border: 1.5px solid;
  max-width: 30rem;
  transition: all 0.4s ease;
}
/*slightly enlarge the input file when hovering*/
input:hover{
  transform: scale(1.05);
}
/*change border color when focused*/
input:focus{
  border-color:#FF5722;
}



/*payment form*/
.payment-card_details{
  margin-bottom: 0.5rem;
}
.payment-card_details-number_name{
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  
}
.payment-card_details-number_name input {
  
  padding: 0.5rem;    
  border-color: #d4dbdd;
  
}
.payment-options{
  margin-bottom: 0.5rem;
}

/*product listing styling*/
.country-heading {
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  background: none;
  padding: 1rem 3rem;
  margin: 1rem 0 0 0;
  text-transform: uppercase;
  font-size: 2rem;
}

.event-grid {
  color:#767676;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 1rem 3rem 3rem 3rem;
  
}

.event-column {
  flex: 1 1 15rem; 
}

.banner-img {
  width: 100vw;
  height:15rem;
}




.destination-grid {
  display: flex; 
  flex-direction: row ;
  justify-content: flex-start; 
  flex-wrap: wrap;
  padding: 0.5rem 3rem;
  gap: 1rem;
  
}
.popular_destination {
  flex:0 0 20rem;
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
  border-radius: 0.5rem; 
  padding: 1rem; 
  margin-right: 1rem; 
}
.popular_destination img {
  width: 100%;
  height: 13rem;
  border-radius: 4px;
}
.popular_destination h2 {
  color: #FF5722;
  font-family: 'GT Pressura Monofutura', sans-serif; 
  margin: 1rem 0 0.5rem;
}
.popular_destination a {
  display: inline-block;
  background-color: #767676; 
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none; 
  border-radius: 0.1rem;
  margin-top: 1rem;
}
.popular_destination a:hover,
.popular_destination a:focus {
  background-color: #FF5722; 
  color: white;
  transform: scale(1.05); 
}







/* 
INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.8rem 1rem;
  color: white;
  background-color: var(--color-text-brown);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
  
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
  
}

/*listing card css style section */
.popular_destination{
  margin-bottom:2rem;
}
.popular_destination h2 {
  color: #FF5722;
  font-family: 'GT Pressura Monofutura', sans-serif; 
  line-height: 1.2; 
  height: 2.5em; 
}
.destination-info {
  margin-bottom: 1rem;
}
.destination-info p {
  margin: 0.2rem 0;
  font-size: 0.9rem;
  line-height: 1.2; 
}
/*vide details button style*/
.destination-action {
  border-top: 1px solid grey; 
  padding-top: 1rem;
  display: flex; 
  justify-content: space-between;
}

/* the add button gets a different color*/
.destination-action a.add_button {
  background-color: #FF5722; 
  font-size: 0.8rem;
}
.destination-action a.view_button {
  background-color: #767676; 
  font-size: 0.8rem;
}



/*payment-container styling flexbox*/
.payment-container{
  display: flex;
  flex-direction: column;
  background-color: #e8f4f8;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  max-width: 50rem;
  margin:2rem 2rem 2rem 0rem;
}

/* 
use ">" child combinator to all divs that are direct children of my container
reference link :https://www.w3schools.com/css/css_combinators.asp
*/
.payment-container >div{
  background-color: #e8f4f8;
  padding: 0.8rem;
  border: 1px solid white;
  
  
}
.box1{
  
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}
.box1-payment-lable {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}








/* 
About page styling -------------------
*/


.about-title {
  background-image:  url('../img/about-background.jpg');
  background-position: center;
  background-size: cover;
  /*parallax scrolling*/
  background-attachment: fixed;
  color: white;
  padding: 0.5rem 2rem;
}

.about-title h1 {
  font-size: 4rem; 
  padding-top: 2rem;
  margin: 0;
}

/* About page company event-updates*/

.event-section { 
  padding: 1rem 2rem; 
  position: relative; 
} 
.event-section h2 {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: 0.2rem solid #767676;
  padding-bottom: 1rem;
}
.event-scroll { 
  display: flex; 
  gap: 1rem; 
  overflow-x: auto; 
  padding-bottom: 1rem; 
}

 .event-card { 
  flex: 0 0 45%; 
  border-radius: 0.5rem; 
  min-width: 25rem;
  overflow: hidden; 
  padding:1rem;
  background-color: rgba(255, 128, 49, 0.771) ;
}
.event-card p{
  margin-top: 1rem;
  color:white;
}
  
.event-card img { 
  max-width: 100%; 
  min-width: 95%;
  height: 20rem; 
  align-items: center;
  object-fit:  contain;
  margin-bottom: 1rem;
  margin: 0 auto 1rem auto; display: block;
 } 
  
  


 
.about-intro {
  color:white;
  font-size: 1.2rem;
  min-width:25rem;
  max-width: 25rem;
  margin-top: 2rem;
  
}

.about-grid {
  color:#767676;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  
  padding: 3rem 5rem 3rem 5rem;
  
}

.about-column {
  flex: 1 1 15rem; 
}

.about-column strong {
  font-size: 1.5rem;
  color:#FF5722;
  display: block;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border-bottom: 0.2rem solid #767676;
  padding-bottom: 1rem;
}
.about-grid .about-column img {
  height: 30rem;
}
.about-title nav {
  background: transparent;
}
.about-title nav ul {
  padding: 0;
}



/* 
COMBINED ELEMENTS -------------------
*/




/*checkout page styling*/


.checkout-cart-days{
  border:#DFDFDF solid 0.1rem;
  border-radius: 1rem;
  max-width: 40rem;
  margin-bottom: 2rem;
  
}
.checkout-cart-items{
  border-bottom:#DFDFDF solid 0.1rem; ;
  max-width: 28rem;
  margin:1rem;
  padding:0rem 0rem 1rem 0rem;
  
}
.checkout-cart-items h3{
  margin-top: 0;
  margin-bottom: 1rem;
  
}


.checkout-cart-img img{
  height: 10rem;
  min-width: 15rem;
  max-width: 30rem;
  flex: 0 0 ;
  border-radius: 0.4rem;
}

.checkout-price-breakdown {
  background-color: #f4f7f8;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.4rem;
}



.checkout-price-total{
  text-align: left;
  border-top: 0.1rem solid #C6C6C6;
  padding-top: 0.8rem;
  font-size: 1.1rem;
  color: #FF5722;
}
.add_button {
  background-color: #FF5722; 
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none; 
  border-radius: 0.1rem;
  display: inline-block;
  transition: all 0.4s ease;
}
.add_button:hover {
  transform: scale(1.05); 
  color: white;
  
}

/************ Payment Form -- Kimi *************/
.checkout-layout {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap; 
  gap: 4rem;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 2rem;
  align-items: flex-start;
}
.cart-container {
  flex: 2 1 400px;
  max-width: 80rem;
}
.form-container {
  flex: 1 1 350px;
  max-width: 50rem;
}
.input-form {
  max-width: 100%;
  margin: 2rem auto;
}
.form-section {
  border: none;
  margin-bottom: 1rem;
}
.form-section legend {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--color-main-red);
}
.form-group {
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  padding-bottom: 1rem;
}
/* input  */
.primary-label {
  font-size: 0.9rem;
  font-weight: 600;
}
.text-input-field {
  padding: 0.8rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  transition: border-color 0.3s ease;
}
.text-input-field:hover,.text-input-field:focus {
  outline: none;
  border-color: var(--color-main-red);
}
/* payment */
.payment-methods {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.method-card {
  flex: 1;
}
.card-content {
  display: flex;             /* Enable Flexbox */
  align-items: center;       /* Center items vertically */
  justify-content: center;    /* Center the group within the button */
  gap: 0.75rem;
  padding: 1rem;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}
/*Payment method icons*/
.box1-card-icons {
  display: flex;
  gap: 0.5rem; 
  align-items: center;
}
.box1-card-icons img{
  height: 1.5rem;
  gap: 0.5rem;
}
.method-card input {
  display: none;
}
.method-card input:checked + .card-content {
  border-color: var(--color-main-red);
  color: var(--color-main-red);
  background-color: #fff5f5;
  font-weight: bold;
}
.form-footer {
  font-size: 1.5rem;
  text-align: center;
}
/****Submit Button****/
.button-action {
  font-family: 'body-font', Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-top:2rem;
  padding: 1rem 4rem;
  color: white;
  background-color: var(--color-main-red);
  text-decoration: none;
  border: 0cm;
  border-radius: 10px;
  transition-property: background-color; 
  transition-duration: 0.5s;
}
.button-action:hover, .button-action:focus {
  background-color: rgb(200,200,200);
  color:green;
}

/************Checkout Cart - Kimi *************/
.category-section {
  position: relative; 
  padding: 4rem 2rem;
  margin: 0;
}
.product-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;      
  justify-content: center; 
  gap: 3rem;             
  margin: 0;
}
.cart-header {
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
  color: #6b7280;
}
.cart-item {
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: 1px solid #e5e7eb;
  width: 100%;
  min-width: 700px;
}
.header-product,.product-info {
  display: flex;
  flex:3 0 250px;;
  gap: 1.25rem;
  align-items: center;
}
.header-attr,.cart-attribute, 
.cart-price {
  flex: 1 0 100px; 
  text-align: center;
  min-width: 80px;
}
.small-thumbnail {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.note-input{
  margin-top:0.5rem;
  padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}
.qty-field {
  width: 3rem;
  border: none;
  text-align: center;
  padding: 0.5rem;
}
.cart-footer{
  margin-top: 2rem;
}
.city-header {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: flex-start; 
  gap: 2rem; 
  padding: 1rem;
  border: 2px solid lightgray; 
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.city-name {
  font-size: 2.5rem; 
  font-weight: bold;
}
.header-date-selector {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid lightgray;
  border-radius: 20px; 
}
.header-date-selector .date-input-field {
  border: none;
  background: transparent;
  outline: none;
}

/******** Product Deatil Page 1 - Vatican Museum **********/
.product-detail-hero {
  background-image:  url('../img/Vatican-museum-hero.jpeg');
  background-position: center;
  background-size: cover;
  /*parallax scrolling*/
  background-attachment: fixed;
  color: white;
  padding: 0.5rem 2rem;
  height:45rem;
}
.product-detail-hero nav{
  background-color: white; 
}
.product-detail-hero h1 {
  font-size: 6rem; 
  padding: 2rem;
  margin: 0;
  
  /*method learned from : https://css-tricks.com/adding-stroke-to-web-text/*/
  color: transparent; 
  -webkit-text-stroke: 0.2rem white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  
}

.product-detail-hero h2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;

}
.product-detail-title{
  min-width: 50rem;
}


.product-detail-page-text{
  font-size: 3rem;
  color: white; 
  -webkit-text-stroke: 0rem;
}
.product-detail-intro {
  color:rgb(110, 76, 21);
  font-size: 1.2rem;

  max-width: 40%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 8px;
}
.art-section-1, .art-section-2 {
  width: 100%;
  min-height: 60vh; 
  display: flex;
  align-items: center;     
  justify-content: center;   
  background-size: cover;    
  background-position: center;
  background-repeat: no-repeat;
  color: white;             
  text-align: center;
}
body.product-detail-page-body {
  background-color: #1a1a1a; 
  color: #f4f4f4;            
  margin: 0;
  padding: 0;
}
body.product-detail-page-body .section-title {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.7rem;
  border-bottom: 2px solid var(--color-main-red);
}

/* Section 1: History & Location */
.museum-history {
  background-image:  linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),url('../img/vatican-building.jpg');
  background-position: center;
  background-size: cover;
  height:50rem;
  display: flex;
  justify-content: space-between;
  padding: 4rem 10%;
  
  align-items: center;
  gap: 4rem;
}
.history-text {
  flex: 1;
  min-width: 20rem;
  max-width: 30vw;
  background-color: rgba(0, 0, 0, 0.8);
  padding:2rem;
  border-radius: 8px;
}
.map-box {
  display: flex;
  flex: 1;
  min-width: 30rem;
  max-width: 40rem;
  align-items: center;
  justify-content: center;
}
.map-box img {
  width: 100%;      
  height: auto; 
  min-width: 30rem;    
  display: block;   
  border-radius: 8px; 
}
/* Section 2: Areas Grid */
.museum-areas {
  padding: 4rem 10%;
  text-align: center;
}
.center-title {
  min-width: 30rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}
.museum-areas p {
  min-width: 20rem;
  text-align: left; 
  margin: 0 auto 3rem auto; 
}
.area-grid {
  min-width: 20rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.area-card {
  flex: 1 1 300px;
}

.area-card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px; 
}
/* Section 3: Collection Showcase */
.museum-collection {
  padding: 4rem 10%;
}
.artist-bio {
  margin-bottom: 3rem;
  border-radius: 4px;
}

.artist-bio h3 {
  max-width: 28rem;
  color: white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Artwork Gallery */
.artwork-gallery {
  display: flex;
  flex-direction: row ;
  justify-content: flex-start; 
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}
.artwork-gallery img {
  width: 100%;            
  height: 25vh;
  object-fit: cover;
  border-radius: 8px; 
}
.artwork-item {
  min-width: 10rem;
  display: flex;
  flex-direction: column;  
  align-items: center;      
}
figcaption{
  margin-top: 1rem;         
  font-size: 0.9rem;
  text-align: center;
}
/******** Product Deatil Page 2 - Arc de Triomphe **********/
body.arc .product-detail-hero {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.1)), 
                      url('../img/arc-hero.jpg');
}





/******** CONTACT PAGE   **********/

/*
.contact-detail-intro {
  color:rgb(110, 76, 21);
  font-size: 1.2rem;

  max-width: 40%;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 8px;
}*/
.contact-detail-intro{
  min-width: 25rem;
}


body.contact-page-body {
  color: #303030;            
  margin: 0;
  padding: 0;
}
.contact-hero {
  background-image:  url('../img/contact-hero.jpg');
  background-position: center;
  background-size: cover;
  /*parallax scrolling*/
  background-attachment: fixed;
  color: white;
 
  padding-top: 0.5rem;
  height:45rem;
}

.contact-hero nav{
  background-color: white; 
  width:100%;
  
}
.contact-title{
  padding: 2rem;
}

.checkout-layout .section-title{
  color:#303030;
  font-size: 1.7rem;
  border-bottom: 2px solid var(--color-main-red);
}
.cart-container p{
  margin-bottom: 3rem;
}
.checkout-layout .section-title.main-header {
    flex: 0 0 100%;    
    margin-top: 3rem; 
    margin-bottom: 0;
    border-bottom: 2px solid var(--color-main-red);
}
.cart-container, .form-container {
    margin-top: 0; 
}









